Repository flyway/flyway, pull requests merged in 2018-02, with the labels that each got.

#1866 New option to allow for 'Ignored' migrations in 'validate' command: ignoreIgnoredMigrations
  flyway-commandline/src/main/assembly/flyway.conf
  flyway-commandline/src/main/java/org/flywaydb/commandline/Main.java
  flyway-core/src/main/java/org/flywaydb/core/Flyway.java
  flyway-core/src/main/java/org/flywaydb/core/api/configuration/FlywayConfiguration.java
  flyway-core/src/main/java/org/flywaydb/core/internal/command/DbInfo.java
  flyway-core/src/main/java/org/flywaydb/core/internal/command/DbMigrate.java
  flyway-core/src/main/java/org/flywaydb/core/internal/command/DbRepair.java
  flyway-core/src/main/java/org/flywaydb/core/internal/command/DbValidate.java
  flyway-core/src/main/java/org/flywaydb/core/internal/configuration/ConfigUtils.java
  flyway-core/src/main/java/org/flywaydb/core/internal/info/MigrationInfoContext.java
  flyway-core/src/main/java/org/flywaydb/core/internal/info/MigrationInfoImpl.java
  flyway-core/src/main/java/org/flywaydb/core/internal/info/MigrationInfoServiceImpl.java
  flyway-gradle-plugin/src/main/java/org/flywaydb/gradle/FlywayExtension.java
  flyway-gradle-plugin/src/main/java/org/flywaydb/gradle/task/AbstractFlywayTask.java
  flyway-maven-plugin/src/main/java/org/flywaydb/maven/AbstractFlywayMojo.java
Labels: m: Command-line, m: Core, m: Gradle, m: Maven, t: feature

#1738 Allow extending classpath in gradle task config
  flyway-gradle-plugin/src/main/java/org/flywaydb/gradle/FlywayExtension.java
  flyway-gradle-plugin/src/main/java/org/flywaydb/gradle/task/AbstractFlywayTask.java
Labels: m: Gradle, t: feature

#1932 Do not delete types that extensions depend on when cleaning PostgreSql
  flyway-core/src/main/java/org/flywaydb/core/internal/database/postgresql/PostgreSQLSchema.java
Labels: d: PostgreSQL, m: Core, t: bug
